<h2>Edit <%= @company.name %></h2>

<%= form_for @company do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :industry %>
    <%= f.text_field :industry %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
  </div>

  <%= f.submit %>

<% end %>
