<h1><%= @company.name %></h1>

<p><%= @company.description %></p>

<ul>
  <% @company.jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
  <% end %>
</ul>

<%= link_to 'Edit Company', edit_company_path(@company) %>

<%= link_to 'Back to Companies', companies_path %>
